<header>
    <h1>{{pageTitle}}</h1>
    <ul style="list-style:none">
        <li style="display:inline;padding-right:10px"><a style="text-decoration:none" href="/">Home</a></li>
        <li style="display:inline;padding-right:10px"><a  style="text-decoration:none" href="/about">About</a></li>
    </ul>
</header>
