<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <h3>{{welcomeText}}</h3>
    <ul style="list-style:none">
        <li><a style="text-decoration:none" href="#">Git Project 1</a></li>
        <li><a style="text-decoration:none" href="#">Git Project 2</a></li>
        <li><a style="text-decoration:none" href="#">Git Project 3</a></li>
    </ul>
    {{> footer}}
</body>
</html>